<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCTqTSrudzqLap6Ym3cWe2ScAvntk3wpHU</string>
	<key>GCM_SENDER_ID</key>
	<string>1067910446190</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.friendsAroundMe</string>
	<key>PROJECT_ID</key>
	<string>memoir-534aa</string>
	<key>STORAGE_BUCKET</key>
	<string>memoir-534aa.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1067910446190:ios:6724ee951a3a821e017a7f</string>
	<key>DATABASE_URL</key>
	<string>https://memoir-534aa.firebaseio.com</string>
</dict>
</plist>